<header style = "background-color : pink">
   <h1> TinyApp</h1>
   <% if (userid === undefined) { %>
   <a href="/register">Please register</a>
   <a href="/login">Or Login</a>
   <p/> Must login to see or make changes to your shortURL</p>
   <% } else { %>
   <p>

     <%= usermail %><br>
     <form action="/logout" method="POST">
     <input type="submit" value="Logout">
     </form>
   </p>
   <% } %>
</header>